# Core project dependencies

click                   # cli: A package for creating beautiful command-line interfaces in a composable way.
fastapi                 # web framework: High-performance web framework for building APIs with modern Python features.
pydantic                # validation: Data validation and settings management using Python type annotations.
requests                # http: User-friendly HTTP library for making web requests & API calls.
sentence-transformers   # ai nlp: Compute sentence & text embeddings for tasks like clustering or semantic search.
torch                   # ml framework: Tensors and Dynamic neural networks in Python with strong GPU acceleration (Facebook/Meta).
uvicorn                 # web server: Lightning-fast ASGI server implementation, for FastAPI and Django 3+.
rich
pytest
pytest
pyinstaller
chromadb